# Anthropic
ANTHROPIC_API_KEY=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

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ggxufhcoglstorwqvsgx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_weq44sSgXpFh0_CnbFeZnw_F6s2PjZ8
SUPABASE_SERVICE_ROLE_KEY=sb_secret_T-yAlONH7meHGk6Urayeww_burxTrgE

# Stripe
STRIPE_SECRET_KEY=sk_test_51TUR8F33PVdxhXqtu6OIeZF2fU3R0uVxpSIDY96H9mz1Kydm3TfHpM2LfQ2VxwpXjIahOkIx8SrltRalG95PHPq600tRqxLaYW
STRIPE_WEBHOOK_SECRET=whsec_...
